body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    gap: 10px;
    margin-top: 200px;
    padding: 10px;
    border: 1px solid rgb(199, 194, 194);
    border-radius: 3px;
    width: 350px;
    height: 434px;
    background-color: #d8d6d6; 
}


#output {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    height: 64px;
    width: 350px;
    padding: 10px;
}

#buttons div {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    flex-grow: 1;
}

#buttons div div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    font-size: 18px;
    height: 64px;
    width: 64px;
    /* border: 1px solid black; */
    border-radius: 3px;
    background-color: white;
}

.pressing {
    border: 1px solid rgb(211, 199, 199);
    border-radius: 3px;
}