body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    gap: 10px;
    margin-top: 200px;
    padding: 10px;
    border: 1px solid rgb(199, 194, 194);
    border-radius: 3px;
    width: 350px;
    height: 466px;
    background-color: #d8d6d6; 
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    height: 96px;
    width: 350px;
    padding: 10px;
}

#output-top {
    text-align: end;
    color: #afafaf;
}

#output {
    text-align: end;
    font-size: 45px;
}

#buttons div {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    flex-grow: 1;
}

#buttons div div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    font-size: 18px;
    height: 64px;
    width: 64px;
    border-radius: 3px;
    background-color: white;
}

#buttons div div:hover {
    border: 1px solid rgb(211, 199, 199);
    border-radius: 3px;
}

.pressing {
    border: 1px solid rgb(211, 199, 199);
    border-radius: 3px;
    transform: scale(1.1);
}